/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* importing .scss styling files */
@import '../scss/SharedStyles.scss';

@import '../app/layouts/Footer/Footer.scss';
@import '../app/layouts/NavBar/NavBar.scss';
@import '../app/layouts/Sidebar/Sidebar.scss';

@import '../app/containers/Header/Header.scss';
@import '../app/containers/ModulesPage/ModulesPage.scss';
@import '../app/containers/Sections/Sections.scss';
@import '../app/containers/Service/Service.scss';
@import '../app/containers/AboutUs/AboutUs.scss';
@import '../app/containers/SignUp/SignUp.scss';
@import '../app/containers/SignIn/SignIn.scss';
@import '../app/containers/Education/Education.scss';
@import '../app/containers/Emergency/Emergency.scss';
@import '../app/containers/Empowerment/Empowerment.scss';
@import '../app/containers/Community/Community.scss';
@import '../app/containers/Inventory/Inventory.scss';
@import '../app/containers/Project/Project.scss';
@import '../app/containers/Dashboard/Dashboard.scss';
@import '../app/containers/Dashboard/DashboardMenu.scss';

@import '../app/components/UI/Modal/Modal.scss';
@import '../app/components/Drawer/Drawer.scss';
@import '../app/components/Button/GoogleButton.scss';
@import '../app/components/Forms/Empowerment/CandidateRegistration.scss';
@import '../app/components/Forms/Community/ProgramExecution.scss';
@import '../app/components/Forms/Education/StudentRegistration.scss';
@import '../app/components/Forms/Emergency/IncidentReporting.scss';
@import '../app/components/Forms/Project/ProjectEnlistment.scss';
@import '../app/components/Forms/Inventory/ItemEnlistment.scss';
@import '../app/components/Tables/Empowerment/CandidateList.scss';
@import '../app/components/Tables/Community/ScheduledProgramList.scss';
@import '../app/components/Tables/Education/StudentList.scss';
@import '../app/components/Tables/Emergency/ReportedIncidentList.scss';
@import '../app/components/Tables/Project/EnlistedProjectList.scss';
@import '../app/components/Tables/Inventory/EnlistedItemList.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 32 156 238;
    --primary-bright: 85 170 255;
    --primary-brightest: 93 187 248;

    --secondary: 26 54 93;
    --secondary-bright: 21 62 117;
    --secondary-brightest: 42 105 172;

    --swiper-navigation-color: #209cee;
    --swiper-pagination-color: #209cee;
  }

  html {
    @apply box-border overflow-x-hidden;
  }

  body {
    @apply w-full;
  }

  a {
    @apply no-underline;
  }

  * {
    @apply p-0 m-0 scroll-smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
