@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* importing .scss styling files */
@import '../scss/SharedStyles.scss';
@import '../app/layouts/Footer/Footer.scss';
@import '../app/layouts/NavBar/NavBar.scss';
@import '../app/layouts/NavBar/Nav.scss';
@import '../app/containers/HomePage/HomePage.scss';
@import '../app/containers/ModulesPage/ModulesPage.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 32 156 238;
    --primary-bright: 85 170 255;
    --primary-brightest: 93 187 248;

    --secondary: 26 54 93;
    --secondary-bright: 21 62 117;
    --secondary-brightest: 42 105 172;

    --swiper-navigation-color: #209cee;
    --swiper-pagination-color: #209cee;
  }

  html {
    @apply box-border overflow-x-hidden;
  }

  body {
    @apply min-h-screen font-inter;
  }

  a {
    @apply no-underline;
  }

  * {
    @apply p-0 m-0 scroll-smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
